VITE_BACKEND_URL=http://127.0.0.1:3001
VITE_ZEROG_RPC=http://127.0.0.1:8545
VITE_ZEROG_CHAIN_ID=31337
VITE_AGENT_INFT_ADDRESS=0x5FbDB2315678afecb367f032d93F642f64180aa3
VITE_WALLETCONNECT_PROJECT_ID=
VITE_ENS_PARENT=siriusagents.eth
